@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
}


html,
body {
  overscroll-behavior: none;
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel-scroll 30s linear infinite;
}
